<header>
  <div class="container container--big">
    <div class="header">
      <a href="index.html" class="header__logo">
        <img src="img/sprite/logo.svg" alt="logo">
      </a>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="#" class="navigation__link">
              Home
            </a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">
              About
            </a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">
              Contact
            </a>
          </li>
        </ul>
      </nav>
      <button class="header__button">Let's talk</button>
    </div>
  </div>
</header>
